
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gammo tourist map</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

  <link href="{% static 'dist/bootree.min.css' %}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Simonetta:ital@1&family=Ubuntu:wght@300&@1&display=swap"
    rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
  <script
    src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
  <script src="https://openlayers.org/en/v3.20.1/build/ol.js"></script>
  <link rel="stylesheet" href="{% static 'src/ol3-layerswitcher.css' %}" />
  <link rel="stylesheet" href="{% static 'src/layerswitcher.css' %}" />
  <link rel="stylesheet" href="{% static 'font/css/all.min.css' %}">
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>

<body>

  <input type="checkbox" id="check">
  <header style="display: inline-table;">
    <label for="check">
      <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">

      <h3><span>Gammo-TRIP</span></h3>

      <div id='locate' style="left: 502px;position: relative; color: #d8fd28;"></div>
    </div>
    <a href="{% url 'login'%}"></a>
  </header>
  <div id="change" class="sidebar">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
          data-toggle="tab">Catalog</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Route</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div id="tree"></div>
        <div id="tree2"></div>
      </div>

      <div role="tabpanel" class="tab-pane" id="profile"><input type="text" value="{% static 'images/' %}" id="h">
      </div>
    </div>
  </div>
  <div id="popup" title="Welcome to ol3"></div>
  <!--sidebar end-->
  <div class="content">
    <div class="map" id="map"></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{% static 'dist/bootree.min.js' %}"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="{% static 'src/ol3-layerswitcher.js' %}"></script>
  <!-- <script src="{% static 'src/layerswitcher.js' %}"></script> -->

  <script type="module">
    import { serviceStyle } from "{% static 'mapstyle.js' %}";
    import { compareValues } from "{% static 'comparevalues.js' %}";
    import { map, select_interaction, service_vector,destination_vector } from "{% static 'functions.js' %}";

    $(document).ready(function () {
      var service_data;
      var destination_data;
      var service_type = [];
      var destination_type_status = [];
      var service_names = [];
      var feature_source = new ol.source.Vector();
      var service_type_list = {};
      var destination_type_list = {};
      destination_type_list['id'] = '01';
      destination_type_list['text'] = 'Destinations';
      service_type_list['id'] = '01';
      service_type_list['text'] = 'Services';
      function get_service_count(service_name) {
        var count = 0;
             service_data.forEach(function (e) {
          if (e['properties'].service == service_name) {
            count++
          }
        })
        return count
      }
      function get_destination_count(service_name) {
        var count = 0;
        destination_data.forEach(function (e) {
        if (e['properties'].status_of == service_name) {
          count++
        }
      })
        return count
      }
    
      function get_service_name_as_children(service_name) {
        var service_names = [];
        service_data.forEach(function (e) {
          if (e['properties'].service == service_name) {
            service_names.push({ id: e['id'], text: e['properties'].full_name })
          }
        })
        return service_names
      }
     function get_destination_destinatio_as_children(service_name) {
  var destination_destinatio = [];

  destination_data.forEach(function (e) {
  if(e['properties'].status_of ===service_name) {
        destination_destinatio.push({ id: e['id'], text: e['properties'].destinatio+'('+get_destination_destinatio_count(e['properties'].status_of,e['properties'].destinatio)+')',children: get_destination_name_as_children(e['properties'].status_of,e['properties'].destinatio)})
}
})

  return destination_destinatio
}
function get_destination_destinatio_count(service_name,service_type) {
        var count = 0;
        destination_data.forEach(function (e) {
          if(e['properties'].status_of ===service_name && e['properties'].destinatio===service_type ) {
          count++
        }
      })
        return count
      }
function get_destination_name_as_children(service_name,service_type) {
  var destination_name = [];

  destination_data.forEach(function (e) {
  if(e['properties'].status_of ===service_name && e['properties'].destinatio===service_type ) {
    destination_name.push({ id: e['id'], text: e['properties'].full_name })
}
})

  return destination_name
}
      var url = 'http://localhost:8080/geoserver/arbaminch/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=arbaminch%3Aservice&maxFeatures=1000&outputFormat=application%2Fjson'
      $.getJSON(url, function (data) {
        var features = new ol.format.GeoJSON({ defaultDataProjection: 'EPSG:4326' }).readFeatures(data)
        feature_source.addFeatures(features);
        service_data = data['features'];
        let unique_obj = [
          ...new Map(data['features'].map((item) => [item['properties'].service, item])).values()
        ]
        $.each(unique_obj, function (index, value) {
          service_type.push({ id: value['id'], text: value['properties'].service + '(' + get_service_count(value['properties'].service) + ')', children: get_service_name_as_children(value['properties'].service) })
        });
        service_type_list['children'] = service_type.sort(compareValues('text'))

        tree = $('#tree').tree({
          primaryKey: 'id',
          uiLibrary: 'bootstrap',
          dataSource: [service_type_list],
          checkboxes: true,
        });
        $('#tree').change(function () {
          service_vector.clear()
          feature_source.forEachFeature(function (e) {
            if (tree.getCheckedNodes().indexOf(e.getId()) > -1) {
              e.setStyle(serviceStyle(e.get('service')))
              service_vector.addFeature(e)
              map.getView().fit(service_vector.getExtent(), map.getSize());
            }
           
          })
        });
      });

      var url = 'http://localhost:8080/geoserver/arbaminch/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=arbaminch%3Adestination&maxFeatures=1000&outputFormat=application%2Fjson'
      $.getJSON(url, function (data) {
        var features = new ol.format.GeoJSON({ defaultDataProjection: 'EPSG:4326' }).readFeatures(data)
        feature_source.addFeatures(features);
        destination_data = data['features'];
        // console.log(destination_data)
        let unique_obj_destination = [
          ...new Map(data['features'].map((item) => [item['properties'].status_of, item])).values()
        ]
        $.each(unique_obj_destination, function (index, value) {
                  // console.log()
          destination_type_status.push({ id: value['id'], text: value['properties'].status_of + '(' + get_destination_count(value['properties'].status_of,value['id']) + ')',children:get_destination_destinatio_as_children(value['properties'].status_of) })
        });
        destination_type_list['children'] = destination_type_status.sort(compareValues('text'))

        tree2 = $('#tree2').tree({
          primaryKey: 'id',
          uiLibrary: 'bootstrap',
          dataSource: [destination_type_list],
          checkboxes: true,
        });
        $('#tree2').change(function () {
          destination_vector.clear()
         feature_source.forEachFeature(function (e) {
            if (tree2.getCheckedNodes().indexOf(e.getId()) > -1) {
              destination_vector.addFeature(e)
              map.getView().fit(destination_vector.getExtent(), map.getSize());
            }
            if (tree2.getCheckedNodes().indexOf(e.getId()) == -1) {
              // console.log(true)
            }
          })
        });
      });

      map.addInteraction(select_interaction);
      select_interaction.on('select', function (e) {
        // console.log()
        if (e.selected[0]) {
          Swal.fire({
            width: '900px',
            html:
              "<table style='width: -moz-available'>" +
              "<tr>" +
              "<th>Full Name</th>" +
              "<th>Short Name</th>" +
              "<th>Zone</th>" +
              "<th>Wereda</th>" +
              "<th>Kebele</th>" +
              "<th>Phone Mobile</th>" +
              "<th>Email</th>" +
              "<th>Organization</th>" +
              "<th>Service</th>" +
              "</tr>" +
              "<tr>" +
              "<td>" + e.selected[0].get('full_name') + "</td>" +
              "<td>" + e.selected[0].get('short_name') + "</td>" +
              "<td>" + e.selected[0].get('zone') + "</td>" +
              "<td>" + e.selected[0].get('wereda') + "</td>" +
              "<td>" + e.selected[0].get('kebele') + "</td>" +
              "<td>" + e.selected[0].get('phone_mobi') + "</td>" +
              "<td>" + e.selected[0].get('email') + "</td>" +
              "<td>" + e.selected[0].get('organizati') + "</td>" +
              "<td>" + e.selected[0].get('service') + "</td>" +
              "</tr>" +

              "</table>",
            imageUrl: '{% static "a1.jpg" %}',
            imageHeight: 150,
            title: e.selected[0].get('service'),
            showClass: {
              popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
              popup: 'animate__animated animate__fadeOutUp'
            }
          })
        }
        else {
          // console.log(false)
        }

      });
      var layerSwitcher = new ol.control.LayerSwitcher({
        tipLabel: 'Légende' // Optional label for button
      });
      map.addControl(layerSwitcher);
    });
  </script>
</body>
</html>